@(evento: models.Evento, participanteForm: Form[models.Participante])

@import helper._


<html>

	<head>
		 <meta charset="UTF-8">
		 <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
	</head>
	
	<style>
    		body {
       			background-image: url(./assets/images/bg.png); 
				background-repeat: no-repeat;
				background-attachment: fixed;
    		}
    	</style>
	
	<body>
	
	<!-- Barra -->
    	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            	<a href="#">
                <img class="imagefloat" src=@routes.Assets.at("images/logo.png") alt="" style="float: left;  margin-top: 3px; margin-left: -38px;">
          		</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
		
	<br><br>

	<!--  Conteudo Central -->
		<div class="col-md-6" style="width: 1000px">
		
			<div class="panel panel-primary" style=" width: 800px; margin-left: 250px; margin-right:50px ;margin-top: 80px;">
  				<div class="panel-heading" style="background-color: #4c4c4c">Insira as infromaçoes abaixo</div>
  					<div class="panel-body">
					<form action="@routes.Application.inscrever(evento.getId())" method="post">
				
					<div class="form-group">
						@inputText(participanteForm("nome"), '_label -> "Nome", 'class -> "form-control")
							
						@inputText(participanteForm("email"), '_label -> "E-mail", 'class -> "form-control")							
						
					</div>
					<hr>
					<p align="center">
						<a href="@routes.Application.index" class="btn btn-danger">Cancelar</a>
						<button type="submit" class="btn btn-success">Inscrever-se</button>
					</p>
				
				</form>
			</div>
		</div>
	</div>

</body>

</html>